<html lang="en">
<head>
    <title><%= agenciesTitle %></title>
    <%- include('styles'); %>
</head>
<body>
<%- include('menu') %>
<div class="container">
    <h1><%= agency.name %></h1>
    <table>
        <tr>
            <th><%= id %></th>
            <th><%= name %></th>
            <th><%= region %></th>
        </tr>
        <tr>
            <td><%= agency.id %></td>
            <td><%= agency.name %></td>
            <td><%= agency.region %></td>
        </tr>
    </table>
</div>
</body>
</html>