<html lang="en">
<head>
    <title><%= linesTitle %></title>
    <%- include('styles'); %>
</head>
<body>
<%- include('menu') %>
<div class="container">
    <h1><%= line.name %></h1>
    <ul class="list-group">
        <li>
            <span class="badge"><%= line.id %></span>
            <%= line.name %>
        </li>
    </ul>
</div>
</body>
</html>
